.App {
  background-image: radial-gradient(mintcream 0%, gray 100%);
  font-family: "Trebuchet MS";
  color: #2c3033;
}

.wrap{
  width: 500px;
  min-height: 800px;
  margin: 50px auto;
  border-radius: 20px;
  border: solid 8px #2c3033;
  background: white;
  box-shadow: 0 0 0px 1px rgba(255,255,255,.4),
  0 0 0px 3px #2c3033;
}
.header{
  width: 100%;
  height: 50px;
  margin: 0;
  border-radius: 10px 10px 0 0px;
  background-image: linear-gradient(#687480 0%, #3b4755 100%);
  font: bold 18px/50px arial;
  text-align: center;
  color: white;
  box-shadow: inset 0 -2px 3px 2px rgba(0,0,0,.4),
  0 2px 2px 2px rgba(0,0,0,.4);
}

input {
  padding: 3px;
  margin: 20px;
}

.wrap-list{
   padding: 20px 0px;
  }
.btn {
  position: relative;
  right: 12px;
  float: right;
}

.list{
  list-style: none;
  color: rgba(0,0,0,.7);
}
.list li:nth-child(odd){
  background: rgba(0,0,50,.1);
}
.list li, input{
  padding: 5px;
  float: left;
  width: 90%;
}

